*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.cursor
.history
.kotlin
node_modules/
.cache/
dist/
.next/
.env
**/.gradle/
**/.idea/
*.class
*.jar
!gradle-wrapper.jar
agconnect-services.json
.vscode/